{% extends 'base.html' %}


{% block content %}
{% load static %}
<div class="container mt-4">
    
    <div class="p-3 m-3" >

        
        <div class="col-lg-5 rounded mx-auto pt-4" style="border-style: solid; border-color: #006d5b;" >
            <div class="text-center col" >
            
                <img
                src="{% static 'img/Medimg.png' %}" alt=""
                class="" style="height: 150px;">
            <!-- <hr> -->
            <hr style="border-style: solid; border-color: #006d5b;">
            </div>
            <h3 class="alert alert-success rounded-pill" style="text-align:center">Create an Account</h3>
            <form action="/signup" method="POST">
                
                {% csrf_token %}

                {% if error%}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {% endif %}
                <!-- firstname -->
                <div class="form-group">
                    <label for="">First Name</label>
                    <input type="text" name="firstname"
                     id="/" value="{{values.first_name}}" class="form-control form-control-sm"
                     placeholder="First Name">
                </div>

                <!-- last name -->
                <div class="form-group">
                    <label for="">Last Name</label>
                    <input type="text" name="lastname" 
                    id="/" value="{{values.last_name}}" class="form-control form-control-sm"
                    placeholder="Last Name">
                </div>

                <!-- phone -->
                <div class="form-group">
                    <label for="">Phone</label>
                    <input type="text" name="phone" 
                    id="" class="form-control form-control-sm"
                    value="{{values.phone}}"
                    placeholder="9988776655"
                    >
                </div>
                <!-- email -->
                <div class="form-group">
                    <label for="">Email</label>
                    <input required type="email" name="email" id=""
                    value="{{values.email}}" 
                    class=" form-control-sm form-control" placeholder="abc@gmail.com">
                </div>


                <!-- password -->
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" 
                    name="password" 
                    id=""
                     class="form-control form-control-sm">
                </div>

                <!--Checkme button-->
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label d-grid gap-2" for="exampleCheck1">Check me out</label>
                </div>
                <hr>
                <button type="submit" style="background-color:#006d5b;" class="btn btn-sm text-white col-lg-12">Create an account</button>
                <hr>
            </form>
        </div>
    </div>
</div>

{% endblock %}
